<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.RolePermissionMapper">
  <resultMap id="BaseResultMap" type="pojo.RolePermission">
    <result column="rid" jdbcType="BIGINT" property="rid" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
  </resultMap>
  <insert id="insert" parameterType="pojo.RolePermission">
    insert into tb_role_permission (rid, pid)
    values (#{rid,jdbcType=BIGINT}, #{pid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="pojo.RolePermission">
    insert into tb_role_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        rid,
      </if>
      <if test="pid != null">
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        #{rid,jdbcType=BIGINT},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="pojo.RolePermission">
    <result column="rid" jdbcType="BIGINT" property="rid" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
  </resultMap>
  <insert id="insert" parameterType="pojo.RolePermission">
    insert into tb_role_permission (rid, pid)
    values (#{rid,jdbcType=BIGINT}, #{pid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="pojo.RolePermission">
    insert into tb_role_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        rid,
      </if>
      <if test="pid != null">
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        #{rid,jdbcType=BIGINT},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>